<div class="isbn-form-control-container">
    <mat-form-field class="w-100">
        <mat-label>Enter ISBN</mat-label>
        <input matInput placeholder="978-3-16-148410-0 or 0-596-52068-9" [formControl]="isbnFormControl" required>
        <mat-error *ngIf="isbnFormControl.hasError('isbnLength')">Invalid ISBN Length</mat-error>
        <mat-error *ngIf="isbnFormControl.hasError('isbnFormat')">Invalid ISBN Format</mat-error>
        <mat-error *ngIf="isbnFormControl.hasError('isbnChecksum')">Invalid ISBN Checksum</mat-error>
        <mat-icon class="color-green" *ngIf="isbnFormControl.valid || isbnFormControl.pristine;else invalidIcon"
            matSuffix>done</mat-icon>
        <ng-template #invalidIcon>
            <mat-icon class="color-red" matSuffix>close</mat-icon>
        </ng-template>
    </mat-form-field>
</div>