<div class="container">
    <h1>ISBN Verifier</h1>
    <div class="examples-container">
        <div class="isbn-ten-examples">
            <h2>Valid ISBN-10 examples</h2>
            <ul>
                <li *ngFor="let isbn of validISBNTens">{{isbn}}</li>
            </ul>
            <h2>Invalid ISBN-10 examples</h2>
            <ul>
                <li *ngFor="let isbn of invalidISBNTens">{{isbn}}</li>
            </ul>
        </div>
        <div class="isbn-thirteen-examples">
            <h2>Valid ISBN-13 examples</h2>
            <ul>
                <li *ngFor="let isbn of validISBNThirteenValues">{{isbn}}</li>
            </ul>
            <h2>Invalid ISBN-13 examples</h2>
            <ul>
                <li *ngFor="let isbn of invalidISBNThirteenValues">{{isbn}}</li>
            </ul>
        </div>
    </div>
    <app-isbn-form-control></app-isbn-form-control>
</div>